<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<body>
<div class="container">
    <title>게시글 상세</title>
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <h2>Post Detail</h2>
    <form role="form" th:object="${post}">
        <div class="form-group">
            <label th:for="title">제목</label>
            <div th:text="*{title}"></div>
        </div>
        <div class="form-group">
            <label th:for="writer">작성자</label>
            <div th:text="*{writer}"></div>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <div th:text="*{content}"></div>
        </div>
        <p>
            <a th:href="@{/update/post/{postId}(postId=${post.getId()})}" class="btn btn-primary">수정</a>
            <a th:href="@{/delete/post/{postId}(postId=${post.getId()})}" class="btn btn-danger">삭제</a>
            <a th:href="@{/}" class="btn btn-primary" role="button">취소</a>
        </p>
    </form>
</div>
</body>
</html>