<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<body>
<div class="container">
    <title>게시글 작성</title>
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <h2>Write</h2>
    <form action="/write" role="form" method="post" th:object="${post}">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input th:field="*{title}" type="text" class="form-control" placeholder="TITLE">
        </div>
        <div class="form-group">
            <label th:for="detail">내용</label>
            <textarea th:field="*{detail}" type="text" class="form-control" placeholder="TEXT"></textarea>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">작성</button>
            <a th:href="@{/}" class="btn btn-primary" role="button">취소</a>
        </p>
    </form>
</div>
</body>
</html>